* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.45;
    color: #222;
    font-size: 16px;
}
.logo {
    text-align: center;
}
.logo img {
    max-width: 200px;
}
h1 {
    font-family: 'Acme', sans-serif;
    font-size: 37px;
    text-align: center;
}
h2 {
    font-family: 'Acme', sans-serif;
    font-size: 26px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}
.wrapper {
    max-width: 800px;
    margin: 0 auto;
}
.phone-info {
    float: left;
    width: 50%;
}
.email-info {
    float: right;
    width: 50%;
}
.phone-info p,
.email-info p,
.headings-two p {
    color: #000;
    margin: 2px 0 0;
    text-align: center;
}
.headings-two {
    float: left;
    width: 100%;
    margin: 15px 0 30px;
}
.headings-two h2 {
    margin-bottom: 5px;
}
.student-info {
    float: left;
    width: 100%;
    text-align: left;
}
.student-info table {
    float: left;
    width: 100%;
    border-collapse: collapse;
}
.student-info table tr td:first-child {
    font-weight: bold;
}
.student-info table tr td,
.student-info table tr th {
    padding: 4px 0;
}
.marks-info table {
    float: left;
    width: 100%;
    border-collapse: collapse;
    margin: 40px 0 0;
    font-size: 14px;
}
.marks-info table tr th,
.marks-info table tr td {
    padding: 8px 14px;
    border: 1px solid #c9c6c6;
    text-align: left;
}
.marks-info table tbody tr:nth-child(6) td,
.marks-info table tbody tr:nth-child(7) td,
.marks-info table tbody tr:nth-child(8) td,
.marks-info table tbody tr:nth-child(9) td {
    font-size: 16px;
} 
.bottom-section {
    float: left;
    width: 100%;
    margin: 80px 0 60px;
    position: relative;
}
.bottom-section h3 {
    font-size: 16px;
    font-family: 'Acme', sans-serif;
    letter-spacing: 1px;
}
.bottom-section h3 span {

}
.bottom-section h4 {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 150px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Acme', sans-serif;
}
.cheading {
    text-align: center;
}
h2.bgheading {
    padding: 6px;
    background: #000;
    color: #fff;
    max-width: 40%;
    margin: 0;
    font-size: 20px;
    font-style: italic;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
}
.cheading h5 {
    float: left;
    height: 41px;
    line-height: 60px;
    display: inline-block;
    float: left;
    text-transform: uppercase;
}
.cheading h5 span {
    padding: 0 40px 0 5px;
    border-bottom: 1px solid #999;
    font-size: 15px;
}
.cheading h5:last-of-type {
    float: right;
}
.sinfo {
    float: left;
    width: 100%;
    margin: 40px 0 15px;
    padding: 25px 0;
    border-top: 2px solid #666;
    border-bottom: 2px solid #666;
    position: relative;
}
.sinfo:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 3px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-top: 2px solid #666;
}
.sinfo:after {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0px;
    right: 0px;
    bottom: 3px;
    border-bottom: 2px solid #666;
}
.sinfo .row {
    float: left;
    width: 100%;
    text-align: left;
    margin: 0 0 10px;
}
.sinfo .row:last-child {
    margin: 0;
}
.sinfo .row div {
    float: left;
    padding: 0;
    font-size: 15px;
    border-bottom: 1px solid #fff;
}
.sinfo .row div.col1 {
    margin-right: 1.5%;
    width: 2%;
}
.sinfo .row div.col2 {
    font-style: italic;
    margin-right: 2%;
    width: 28.5%;
}
.sinfo .row div.col3 {
    width: 65%;
    font-weight: 700;
    border-bottom: 1px solid #aeacac;
    padding: 0 .5%;
}
.sinfo table tr td:nth-child(2) {
    font-style: italic;
    max-width: 100px;
}
.bottom-section.certificate h3 {
    float: left;
    text-align: center;
    width: 33.33%;
}
.bottom-section.certificate h3:first-child {
    text-align: left;
}
.note p {
    font-size: 14px;
    text-align: center;
    font-style: italic;
}
@media print {
    body {
        font-size: 14px;

    }

    .logo img {
        max-width: 150px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }
    .headings-two {
        margin: 10px 0 15px;
    }
    .marks-info table {
        margin: 25px 0 0;
        font-size: 13px;
    }
    h2.bgheading  {
        font-size: 18px;
        color: #333;
    }
}